<div class="panel-heading" style="overflow: auto">
    <div class="row">
        <div class="col-xs-4 pull-left">
            <b style="font-size:larger; color:mediumblue">ReLDIanno</b>
        </div>
        <div class="pull-right">
            <div class="col-xs-4" style="width: auto">
                <a href="http://www.clarin.si/info/k-centre/web-services-documentation/#application">Documentation</a>
            </div>
            <div class="col-xs-4" style="width: auto">
                <a href="mailto:helpdesk.classla@clarin.si?subject=ReLDIanno">Report a problem</a>
            </div>
            <div class="col-xs-4" style="width: auto">
                <a href="{{url_for('.login')}}">Login</a>
            </div>
        </div>
    </div>
</div>

