{% extends "layout.html" %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading"> <strong class="">Admin page</strong>
	</div>
	<div class="panel-body">
	    <div class="col-md-10 col-md-offset-1">
	        <ul class="nav nav-pills">
	            <li class="active"><a data-toggle="tab" href="#active-users-form">Active users</a></li>
	            <li class=""><a data-toggle="tab" href="#pending-users-form">Pending users</a></li>
	            <li class=""><a data-toggle="tab" href="#blocked-users-form">Blocked users</a></li>
	        </ul>

	        <div class="bs-component">
	            <div class="tab-content">
	                <div id="active-users-form" class="form-horizontal tab-pane fade in active" >
	                    <table class="table table-hover">
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Email</th>
								<th>Project</th>
								<th>Requests allowed</th>
								<th>Requests made</th>
								<th>Action</th>
							</tr>
							{% for user in active_users %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
								<td>{{user.project}}</td>
								<td>{{user.requests_limit}}</td>
								<td>{{user.requests_made}}</td>
								<td>
									<form method="POST" action="{{ url_for('.block_user', id=user.id) }}">
										<button type="submit" class="btn btn-danger btn-sm">Block</button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</table>		
	                </div>

	                <div id="pending-users-form" class="form-horizontal  tab-pane fade">
						<table  class="table table-hover table-bordered">
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Email</th>
								<th>Project</th>
								<th>Requests allowed</th>
								<th>Requests made</th>
								<th>Action</th>
							</tr>
							{% for user in pending_users %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
								<td>{{user.project}}</td>
								<td>{{user.requests_limit}}</td>
								<td>{{user.requests_made}}</td>
								<td>
									<form method="POST" action="{{ url_for('.activate_user', id=user.id) }}">
										<button type="submit" class="btn btn-primary btn-sm">Approve</button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</table>
	                </div>

	                <div id="blocked-users-form" class="form-horizontal tab-pane fade">
						<table  class="table table-hover table-bordered">
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Email</th>
								<th>Project</th>
								<th>Requests allowed</th>
								<th>Requests made</th>
								<th>Action</th>
							</tr>
							{% for user in blocked_users %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
								<td>{{user.project}}</td>
								<td>{{user.requests_limit}}</td>
								<td>{{user.requests_made}}</td>
								<td>
									<form method="POST" action="{{ url_for('.activate_user', id=user.id) }}">
										<button type="submit" class="btn btn-primary btn-sm">Re-activate</button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</table>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}