<html lang="en">
<head>
    <link href="{{ url_for('web_router.static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('web_router.static',filename='bootstrap/css/bootstrap-formhelpers.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('web_router.static',filename='bootstrap/css/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ url_for('web_router.static',filename='bootstrap/css/material.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('web_router.static',filename='bootstrap/css/roboto.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('web_router.static',filename='bootstrap/css/ripples.min.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="{{ url_for('web_router.static',filename='style.css') }}" rel="stylesheet">
	<title>ReLDI</title>

    <script src="{{ url_for('web_router.static',filename='xml2json.js') }}"></script>
    <script src="{{ url_for('web_router.static',filename='md5-min.js') }}"></script>

    <script type="text/babel" src="{{ url_for('web_router.static',filename='jsx/LanguagePicker.jsx') }}?v=5"></script>
    <script type="text/babel" src="{{ url_for('web_router.static',filename='jsx/TaggerFormResult.jsx') }}?v=5"></script>
    <script type="text/babel" src="{{ url_for('web_router.static',filename='jsx/TaggerForm.jsx') }}?v=5"></script>
    <script type="text/babel" src="{{ url_for('web_router.static',filename='jsx/LexiconFormResult.jsx') }}?v=5"></script>
    <script type="text/babel" src="{{ url_for('web_router.static',filename='jsx/LexiconForm.jsx') }}?v=5"></script>
    <script type="text/babel" src="{{ url_for('web_router.static',filename='jsx/SearchForm.jsx') }}?v=5"></script>

    <script src="{{ url_for('web_router.static',filename='react-15.3.2/build/react.js') }}"></script>
    <script src="{{ url_for('web_router.static',filename='react-15.3.2/build/react-with-addons.js') }}"></script>
    <script src="{{ url_for('web_router.static',filename='react-15.3.2/build/react-dom.js') }}"></script>
    <script src="{{ url_for('web_router.static',filename='react-15.3.2/build/react-bootstrap.js') }}"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>


</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					<div class="flashes">
						{% for category, message in messages %}
							<div class="alert alert-{{category}}">{{ message }}</div>
						{% endfor %}
					</div>
					{% endif %}
				{% endwith %}
			</div>
		</div>
		{% block body %}{% endblock %}
	</div>
    {% block react %}{% endblock %}
<body>
<!-- Latest compiled and minified JavaScript -->
<script src="{{ url_for('web_router.static',filename='jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('web_router.static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
</body>
{% block scripts %}{% endblock %}
