<html lang="en">
<head>
    <link href="/web/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/material.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/roboto.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/ripples.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="/web/static/style.css" rel="stylesheet">
	<title>ReLDI</title>

    <script src="/web/static/xml2json.js"></script>
    <script src="/web/static/md5-min.js"></script>

    <script type="text/babel" src="/web/static/jsx/LanguagePicker.jsx?v=3"></script>
    <script type="text/babel" src="/web/static/jsx/TaggerFormResult.jsx?v=3"></script>
    <script type="text/babel" src="/web/static/jsx/TaggerForm.jsx?v=3"></script>
    <script type="text/babel" src="/web/static/jsx/LexiconFormResult.jsx?v=3"></script>
    <script type="text/babel" src="/web/static/jsx/LexiconForm.jsx?v=3"></script>
    <script type="text/babel" src="/web/static/jsx/SearchForm.jsx?v=3"></script>

    <script src="/web/static/react-15.3.2/build/react.js"></script>
    <script src="/web/static/react-15.3.2/build/react-with-addons.js"></script>
    <script src="/web/static/react-15.3.2/build/react-dom.js"></script>
    <script src="/web/static/react-15.3.2/build/react-bootstrap.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>


</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					<div class="flashes">
						{% for category, message in messages %}
							<div class="alert alert-{{category}}">{{ message }}</div>
						{% endfor %}
					</div>
					{% endif %}
				{% endwith %}
			</div>
		</div>
		{% block body %}{% endblock %}
	</div>
    {% block react %}{% endblock %}
<body>
<!-- Latest compiled and minified JavaScript -->
<script src="/web/static/jquery/jquery.min.js"></script>
<script src="/web/static/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
</body>
{% block scripts %}{% endblock %}
