<html lang="en">
<head>
    <link href="/web/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/material.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/roboto.min.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/ripples.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="/web/static/style.css" rel="stylesheet">
	<title>ReLDI</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					<div class="flashes">
						{% for category, message in messages %}
							<div class="alert alert-{{category}}">{{ message }}</div>
						{% endfor %}
					</div>
					{% endif %}
				{% endwith %}
			</div>
		</div>
		{% block body %}{% endblock %}
	</div>
<body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
</body>
{% block scripts %}{% endblock %}
