{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading" style="overflow: auto">
				<div class="pull-left">
					<b style="font-size:larger; color:mediumblue">ReLDIanno</b>
				</div>
				<a href="{{url_for('.forgot_password')}}" class="pull-right">Forgot password?</a>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" id="loginForm"
						method="POST" action="{{url_for('.do_login')}}">
					<div class="form-group">
						<label for="username" class="col-sm-3 control-label">Username</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="username"
									id="username" placeholder="Username" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="password"
									id="password" placeholder="Password" required="">
						</div>
					</div>
					<div class="form-group last">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success btn-sm sign-in">Log in</button>
                            <a href="{{ url_for('.anonymous_login') }}" class="btn btn-default btn-sm">Anonymous user</a>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer" style="overflow: auto">
				<div class="pull-left">
					Not Registered?
					<a href="{{url_for('.register')}}" class="">Request access here</a>
				</div>
				<div class="pull-right">
					<a href=mailto:helpdesk.classla@clarin.si?subject=ReLDIanno">Report a problem</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
