{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
		<div class="panel-heading"> <strong class="">Request access</strong></div>
			<div class="panel-body">
				Thank you for registering. You should receive an email with instructions on how to proceed.
			</div>

			<div class="panel-footer">
				<a href={{url_for('.query')}}>Go to homepage</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
