{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
		<div class="panel-heading"> <strong class="">Request access</strong></div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" id="registerForm" method="POST" action="{{ url_for('.register') }}">
					<div class="form-group">
						<label for="inputUsername" class="col-sm-3 control-label">Username</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputUsername" name="username"
								   value="{{ form.get('username', '') }}" placeholder="Username" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="inputProject" class="col-sm-3 control-label">Project</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputProject" name="project"
								   value="{{ form.get('project', '') }}" placeholder="Project" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="inputProject" class="col-sm-3 control-label">E-mail</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputEmail" name="email"
								   value="{{ form.get('email', '') }}"placeholder="E-mail" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password" placeholder="Confirm Password" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="inputProject" class="col-sm-3 control-label">Request monthly limit</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputRequestLimit" name="requests_limit"
								   value="{{ form.get('requests_limit', '10.000') }}" placeholder="Request limit" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="textAreaNote" class="col-sm-3 control-label">Note</label>
						<div class="col-sm-9">
							<textarea class="form-control" rows="3" name="note" placeholder="If you want monthly requests more than 10.000, please explain why" id="textAreaNote">{{ form.get('note', '') }}</textarea>
						</div>
					</div>
					<div class="form-group last">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success btn-sm request-access">Request access</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">If you already have an account click here
				<a href="{{url_for('.login')}}" class="">Log in</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
