{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> <strong class="">Reset password</strong>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" id="forgotPasswordForm"
						method="POST" action="{{ url_for('.reset_password') }}">
            <div class="form-group">
  						<label for="inputPassword" class="col-sm-3 control-label">New Password</label>
  						<div class="col-sm-9">
  							<input type="password" class="form-control" id="inputPassword" name="password" placeholder="New Password" required="required">
  						</div>
  					</div>
  					<div class="form-group">
  						<label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm password</label>
  						<div class="col-sm-9">
  							<input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password" placeholder="Confirm Password" required="required">
  						</div>
  					</div>
            <div class="form-group">
              <input name="user_id" type="hidden" value="{{user_id}}"/>
              <input name="password_reset_token" type="hidden" value="{{password_reset_token}}"/>
            </div>
					<div class="form-group last">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success btn-sm sign-in">Reset
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
