{% extends "layout.html" %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading"> <strong class="">Query</strong>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#search-form" id="search_link">Tagger</a></li>
            <li class=""><a data-toggle="tab" href="#lexicon-form" id="lexicon_link">Lexicon</a></li>
        </ul>
        <div class="col-md-5">
            <div class="bs-component">
                <div class="tab-content">
                    <form id="search-form" class="form-horizontal tab-pane fade in active" >
                        <fieldset>
                            <div class="form-group">
                                <label for="input-text" class="col-md-2 control-label">Input</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="10" required="required" id="input-text"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Format</label>
                                <div class="col-md-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="input-format" required="required" id="input-format-1" value="json">
                                        Text
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="input-format" required="required" id="input-format-2" value="tcf">
                                        TCF
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Function</label>
                                <div class="col-md-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="method" required="required" id="method1" value="tag">
                                        Tag
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="method" required="required" id="method2" value="lemmatise">
                                        Lemmatise
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="method" required="required" id="method3" value="tag_lemmatise">
                                        Tag  +  Lemmatise
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button id="search-button" type="submit" class="btn btn-primary">Process</button>
                                    <button id="tagger-clear-button" type="submit" class="btn btn-primary clear-tag">Clear</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <form id="lexicon-form" class="form-horizontal tab-pane fade">
                        <fieldset>
                          <div>
                            <ul class="list-group"><small>Legend test</small>
                              <li><small>% text test</small></li>
                              <li><small>sign text test</small></li>
                              <li><small>one more test</small></li>
                            </ul>
                          </div>
                            <div class="form-group">
                                <label for="inputSurface" class="col-md-2 control-label">Surface</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputSurface" placeholder="Surface">
                                    <label><input type="checkbox" id="surface_is_regex" value="0"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLemma" class="col-md-2 control-label">Lemma</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputLemma" placeholder="Lemma">
                                    <label><input type="checkbox" id="lemma_is_regex" value="0"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputMsd" class="col-md-2 control-label">Msd</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputMsd" placeholder="Msd">
                                    <label><input type="checkbox" value="0" id="msd_is_regex"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRhymesWith" class="col-md-2 control-label">Rhymes with</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputRhymesWith" placeholder="Rhymes with">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputNoOfSyllables" class="col-md-2 control-label">No of syllables</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputNoOfSyllables" placeholder="No of syllables">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button id="lexicon-button" type="submit" class="btn btn-primary search-lexicon">Process</button>
                                    <button id="lexicon-clear-button" type="submit" class="btn btn-primary clear-lexicon">Clear</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label for="textArea" class="col-md-12 control-label">Result</label>
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#table-results">Table</a></li>
                    <li class=""><a data-toggle="tab" href="#raw-results">Raw</a></li>
                </ul>
                <div class="bs-component">
                    <div class="tab-content">
                        <div id="table-results" class="form-horizontal tab-pane fade in active" >
                            <table id="results"  class="table table-striped table-bordered" cellspacing="0" width="100%" ></table>
                            <div id="lexicon-results-wrapper">
                                <table id="lexicon-results" class="table table-striped table-bordered" cellspacing="0" width="100%" >
                                    <thead>
                                        <tr>
                                            <th>Lemma</th>
                                            <th>Tags</th>
                                            <th>Surface</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div id="raw-results" class="form-horizontal  tab-pane fade">
                            <div class="col-md-12">
                            <textarea id="result-area" readonly="readonly" class="form-control" rows="20"></textarea>
                            <textarea id="lexicon-result-area" readonly="readonly" class="form-control" rows="20"></textarea>
                            </div>
                        </div>
                        <div class="help-block">
                            Result set
                            <span id="response-time"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
$('#lexicon-results-wrapper').hide();
$("#lexicon_link").click(function(e) {
    $('#lexicon-results-wrapper').show();
    $('#lexicon-result-area').show();
    $('#results').hide();
    $('#result-area').hide();
});
$("#search_link").click(function(e) {
    $('#lexicon-results-wrapper').hide();
    $('#lexicon-result-area').hide();
    $('#results').show();
    $('#result-area').show();
});

function xmlToString(xmlData) {
    xmlData = $(xmlData);
    if (window.ActiveXObject) {
        return xmlData.xml;
    } else {
        var oSerializer = new XMLSerializer();
        return oSerializer.serializeToString(xmlData[0]);
    }
}
/* clear functions */
$("#tagger-clear-button").click(function() {
    $("#input-text").val('');
    if ($("#input-format-1").prop("checked")) {
        $("#input-format-1").prop("checked", false);
    } else if ($("#input-format-2").prop("checked")) {
        $("#input-format-2").prop("checked", false);
    }
    if ($("#method1").prop("checked")) {
        $("#method1").prop("checked", false);
    } else if ($("#method2").prop("checked")) {
        $("#method2").prop("checked", false);
    } else if ($("#method3").prop("checked")) {
        $("#method3").prop("checked", false);
    }
    $("#results").empty();
    $(".display-result-search").empty();
});
$("#lexicon-clear-button").click(function() {
    $("#inputSurface").val("");
    $("#inputLemma").val("");
    $("#inputMsd").val("");
    $("#inputRhymesWith").val("");
    $("#inputNoOfSyllables").val("");
    if ($("#surface_is_regex").prop("checked")) {
        $("#surface_is_regex").prop("checked", false);
    }
    if ($("#lemma_is_regex").prop("checked")) {
        $("#lemma_is_regex").prop("checked", false);
    }
    if ($("#msd_is_regex").prop("checked")) {
        $("#msd_is_regex").prop("checked", false);
    }
    $("#lexicon-result-area").empty();
    $("#lexicon-results-wrapper").empty();
    $("#lexicon-results-wrapper").append("<table id='lexicon-results' class='table table-striped table-bordered' cellspacing='0' width='100%'><thead><th>Lemma</th><th>Tag</th><th>Surface</th></thead></table>");

});

var baseUrl = '/api/v1/';
$('#search-form').submit(function(e) {
    e.preventDefault();
});
$('#lexicon-form').submit(function(e) {
    e.preventDefault();
});
$("#search-button").click(function(e) {
    e.preventDefault();

    var text = $("#input-text").val();
    var inputFormat = $('input[name="input-format"]:checked').val();
    var method = $('input[name="method"]:checked').val();

    if (!text || !inputFormat || !method) {
        return;
    }

    $(".display-result-search").empty();
    var lang = 'hr';
    var url = baseUrl + lang + '/' + method;
    var data = {
        text: text !== '' ? text : null,
        format: inputFormat
    };

    $("#search-button").text('Processing ...').attr('disabled', 'disabled');
    var sendDate = (new Date()).getTime();
    var trHTML = '';
    $('#results').empty();
    jQuery.ajax({
        type: "GET",
        dataType: inputFormat == 'json' ? 'json' : 'xml',
        url: url,
        data: data,
        success: function(data, status, xml) {

            if (inputFormat == 'json') {

                $("#result-area").text(JSON.stringify(data, null, 4));
                if (method == "tag") {
                    $("#results").append("<thead><tr><th>Token</th><th>Start character index</th><th>End character index</th><th>Tag</th></tr></thead>");

                    $.each(data.tokens, function(i, item) {

                        trHTML += '<tbody><tr><td>' + item.value + '</td><td>' + item.startChar + '</td><td>' + item.endChar + '</td><td id=' + i + '_tag></td></tr></tbody>';

                    });
                    var k=0;
                    $('#results').append(trHTML);
                    $.each(data.POSTags, function(i, tags) {

                        $.each(tags, function(j, tag) {
                            $("#" + k + "_tag").html(tag.value);
                            k=k+1;
                        });
                    });

                } else if (method == "lemmatise") {
                    $("#results").append("<thead><tr><th>Token</th><th>Start character index</th><th>End character index</th><th>Lemmatise</th></tr></thead>");
                    $.each(data.tokens, function(i, item) {
                        trHTML += '<tbody><tr><td>' + item.value + '</td><td>' + item.startChar + '</td><td>' + item.endChar + '</td><td id=' + i + '_lemma></td></tr></tbody>';
                    });
                    $('#results').append(trHTML);
                    var k=0
                    $.each(data.lemmas, function(i, lemmas) {

                        $.each(lemmas, function(j, lemma) {
                            $("#" + k + "_lemma").html(lemma.value);
                            k=k+1;
                            //console.log(tag.value);
                        });
                    });
                } else if (method == "tag_lemmatise") {
                    $("#results").append("<thead><tr><th>Token</th><th>Start character index</th><th>End character index</th><th>Tag</th><th>Lemmatise</th></tr></thead>");
                    $.each(data.tokens, function(i, item) {
                        trHTML += '<tbody><tr><td>' + item.value + '</td><td>' + item.startChar + '</td><td>' + item.endChar + '</td><td id=' + i + '_tag></td><td id=' + i + '_lemma></td></tr></tbody>';
                    });
                    $('#results').append(trHTML);
                    var k=0;
                    $.each(data.POSTags, function(i, tags) {
                        $.each(tags, function(j, tag) {
                            $("#" + k + "_tag").html(tag.value);
                            k=k+1;
                        });
                    });
                    var m=0;
                    $.each(data.lemmas, function(i, lemmas) {

                        $.each(lemmas, function(j, lemma) {
                            $("#" + m + "_lemma").html(lemma.value);
                            m=m+1;
                            //console.log(tag.value);
                        });
                    });
                }
            } else {
                $("#result-area").text(xml.responseText);
                if (method == "tag") {
                    $("#results").append("<thead><tr><th>Token</th><th>Start character index</th><th>End character index</th><th>Tag</th></tr></thead>");
                    $(xml.responseText).find("token").each(function(index) {
                        trHTML += '<tbody><tr><td>' + $(this).text() + '</td><td>' + $(this).attr("startChar") + '</td><td>' + $(this).attr("endChar") + '</td><td id=' + index + '_tag></td></tr></tbody>';
                    });
                    $('#results').append(trHTML);
                    $(xml.responseText).find("tag").each(function(index) {
                        $("#" + index + "_tag").html($(this).text());
                    });
                } else if (method == "lemmatise") {
                    $("#results").append("<thead><tr><th>Token</th><th>Start character index</th><th>End character index</th><th>Lemmatise</th></tr></thead>");
                    $(xml.responseText).find("token").each(function(index) {
                        trHTML += '<tbody><tr><td>' + $(this).text() + '</td><td>' + $(this).attr("startChar") + '</td><td>' + $(this).attr("endChar") + '</td><td id=' + index + '_lemma></td></tr></tbody>';
                    });
                    $('#results').append(trHTML);
                    $(xml.responseText).find("lemma").each(function(index) {
                        $("#" + index + "_lemma").html($(this).text());
                    });
                } else if (method == "tag_lemmatise") {
                    $("#results").append("<thead><tr><th>Token</th><th>Start character index</th><th>End character index</th><th>Tag</th><th>Lemmatise</th></tr></thead>");
                    $(xml.responseText).find("token").each(function(index) {
                        trHTML += '<tbody><tr><td>' + $(this).text() + '</td><td>' + $(this).attr("startChar") + '</td><td>' + $(this).attr("endChar") + '</td><td id=' + index + '_tag></td><td id=' + index + '_lemma></td></tr></tbody>';
                    });
                    $('#results').append(trHTML);
                    $(xml.responseText).find("lemma").each(function(index) {
                        $("#" + index + "_lemma").html($(this).text());
                    });
                    $(xml.responseText).find("tag").each(function(index) {
                        $("#" + index + "_tag").html($(this).text());
                    });
                }
            }

        },
        error: function(response) {
            $("#result-area").text(JSON.parse(response.responseText));
        },
        complete: function(data) {
            var receiveDate = (new Date()).getTime();
            var responseTimeMs = receiveDate - sendDate;
            var responseTimeText = ' (response time: ' + (responseTimeMs / 1000.0) + 's)';
            $('#response-time').text(responseTimeText);
            $("#search-button").text('Process').removeAttr('disabled');
        }
    });


});
$("#lexicon-button").click(function(e) {

    e.preventDefault();
    var surface = $("#inputSurface").val();
    var lemma = $("#inputLemma").val();
    var msd = $("#inputMsd").val();
    var rhymes_with = $("#inputRhymesWith").val();
    var no_of_syllables = $("#inputNoOfSyllables").val();

    var surface_is_regex = $("#surface_is_regex").val();
    var lemma_is_regex = $("#lemma_is_regex").val();
    var msd_is_regex = $("#msd_is_regex").val();
    if($("#surface_is_regex").is(":checked")){
        surface_is_regex=1;
    }
    if($("#lemma_is_regex").is(":checked")){
        lemma_is_regex=1;
    }
    if($("#msd_is_regex").is(":checked")){
        msd_is_regex=1;
    }
    $(".display-result-search").empty();
    var lang = 'hr';
    var method = 'lexicon';
    var inputFormat = 'json';
    var url = baseUrl + lang + '/' + method;
    var data = {
        surface: surface !== '' ? surface : null,
        lemma: lemma !== '' ? lemma : null,
        msd: msd !== '' ? msd : null,
        rhymes_with: rhymes_with !== '' ? rhymes_with : null,
        no_of_syllables: no_of_syllables !== '' ? no_of_syllables : null
    };

    $("#lexicon-button").text('Processing ...').attr('disabled', 'disabled');
    var sendDate = (new Date()).getTime();

    jQuery.ajax({
        type: "GET",
        dataType: 'json',
        url: url,
        data: data,
        success: function(data) {
            if (inputFormat == 'json') {
                dataset = data.result;
                var table = $('#lexicon-results').dataTable();
                if (table == 'undefined') {
                    var table = $('#lexicon-results').DataTable({
                        data: dataset,
                        columns: [{
                            title: "Lemma"
                        }, {
                            title: "Tags"
                        }, {
                            title: "Surface from"
                        }]
                    });
                } else {
                    table.fnClearTable();
                    if (dataset.length > 0) {
                        table.fnAddData(dataset);
                    }
                }

                  $('#lexicon-results tr.even,tr.odd').mouseover(function(){
                      $.get("/api/v1/dictionary",function(data){
                        //var response = JSON.stringify(data, null, 4);
                        //console.log(data.query);
                          $('tr').append('<span data-toggle="tooltip" data-placement="bottom" title="'+data.query.name+'"></span>');
                      },"json")
                  }).mouseout(function (){
                      $('span').remove();
                  })

                $("#lexicon-result-area").text(JSON.stringify(dataset));
            } else {

            }
        },
        error: function(response) {
            $("#result-area").text(JSON.parse(response.responseText));
        },
        complete: function(data) {
            var receiveDate = (new Date()).getTime();
            var responseTimeMs = receiveDate - sendDate;
            var responseTimeText = ' (response time: ' + (responseTimeMs / 1000.0) + 's)';
            $('#response-time').text(responseTimeText);
            $("#lexicon-button").text('Process').removeAttr('disabled');
        }
    });
});

</script>
{% endblock %}
